body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.centerDiv {
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -20%);
    border: 1px solid red;
    width: 1000px;
}

table {
    width: 100%;
}

td,
th {
    height: 35px;
    text-align: center;
}

th {
    background-color: lightskyblue;
}